<!-- This is where the dashboard lives -->

<div class="container dashboard">
	<div class="half left">
		<table>
			<tr>
				<th>Teams</th>
				<th>icon A</th>
				<th>icon B</th>
				<th>icon C</th>
				<th>icon D</th>
				<th>icon E</th>
			</tr>
			<tr>
				<td>Some name</td>
				<td>32</td>
				<td>43</td>
				<td>65</td>
				<td>768</td>
				<td>31</td>
			</tr>
			<tr>
				<td>Some name</td>
				<td>32</td>
				<td>43</td>
				<td>65</td>
				<td>768</td>
				<td>31</td>
			</tr>
			<tr>
				<td>Some name</td>
				<td>32</td>
				<td>43</td>
				<td>65</td>
				<td>768</td>
				<td>31</td>
			</tr>
		</table>
	</div>
</div>