{{> header }}

<!-- This is where the dashboard lives -->

<div class="container dashboard">
	<div class="right score_chart">
		<h2>Hopi Nuscore</h2>
		    <div id="demo1"></div>
		    <div class="center">
				<span class="company_score ">
					<span class="score biometrics">224</span>
					<img src="/img/biometrics.png" alt="biometrics">
				</span>
				<span class="company_score ">
					<span class="score activity">301</span>
					<img src="/img/activity.png" alt="activity">
				</span>
				<span class="company_score ">
					<span class="score nutrition">654</span>
					<img src="/img/nutrition.png" alt="nutrition">
				</span>
		    </div>
	</div>
	<div class="left score_table">
		<table>
			<tr>
				<th>Teams</th>
				<th><img src="/img/nuscore.png" alt="nu score"></th>
				<th><img src="/img/biometrics.png" alt="biometrics"></th>
				<th><img src="/img/activity.png" alt="activity"></th>
				<th><img src="/img/nutrition.png" alt="nutrition"></th>
				<th></th>
			</tr>
			<tr>
				<td>Some name</td>
				<td class="score nuscore">32</td>
				<td class="score biometrics">43</td>
				<td class="score activity">65</td>
				<td class="score nutrition">768</td>
			</tr>
			<tr>
				<td>Some name</td>
				<td class="score nuscore">32</td>
				<td class="score biometrics">43</td>
				<td class="score activity">65</td>
				<td class="score nutrition">768</td>
			</tr>
			<tr>
				<td>Some name</td>
				<td class="score nuscore">32</td>
				<td class="score biometrics">43</td>
				<td class="score activity">65</td>
				<td class="score nutrition">768</td>
			</tr>
			<tr>
				<td>Some name</td>
				<td class="score nuscore">32</td>
				<td class="score biometrics">43</td>
				<td class="score activity">65</td>
				<td class="score nutrition">768</td>
			</tr>
			<tr>
				<td>Some name</td>
				<td class="score nuscore">32</td>
				<td class="score biometrics">43</td>
				<td class="score activity">65</td>
				<td class="score nutrition">768</td>
			</tr>
			<tr>
				<td>Some name</td>
				<td class="score nuscore">32</td>
				<td class="score biometrics">43</td>
				<td class="score activity">65</td>
				<td class="score nutrition">768</td>
			</tr>
			<tr>
				<td>Some name</td>
				<td class="score nuscore">32</td>
				<td class="score biometrics">43</td>
				<td class="score activity">65</td>
				<td class="score nutrition">768</td>
			</tr>
		</table>
	</div>
	<div class="clfx"></div>
</div>