<!doctype html>
<title>Health on Pi</title>
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/app.css">
<script src="/js/raphael-min.js"></script>
<script src="/js/app.js"></script>

<nav>
	<ul>
		<li>
			<a href="#">
				<img src="http://www.qelp.com/wp-content/themes/qelp/inc/assets/images/logos/logo-red.svg" alt="">
			</a>
		</li>
	</ul>
</nav>
<%= yield %>