<!--  This is where the sign_up lives -->
<div class="container center">
	<h1>Sign up</h1>
	<form action="/sign_up" method="post">
		<label for="email">Email</label>
		<input type="text" name="email">

		<label for="password">Password</label>
		<input type="password" name="password">

		<label for="password_confirmation">Password Confirmation</label>
		<input type="password" name="password_confirmation">
		<br>
		<input type="submit">
	</form>
</div>